/*task 1*/

@media print {
    .tm-sidebar,
    #about,
    section:nth-child(n+3) {
        display: none;
    }
    .tm-banner {
        width: 100%;
        height: 250px;
    }
    h2.tm-section-title {
        color: blue;
    }
    p::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }
    h2+p {
        font-style: italic;
    }
    .tm-section-description {
        text-indent: 20px;
    }
    .tm-content-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .tm-team-description-container {
        max-width: 100%;
    }
    img {
        width: 80%;
    }
}

@media screen {
    /* task 2 */
    .tm-box-bg-title:hover {
        background-color: #31b0d5;
        color: white;
        font-weight: bold;
    }
    /* Task 3 */
    p::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }
    /* Task 4 */
    .tm-sidebar,
    .tm-content-header,
    section:nth-child(2) div.tm-content-box,
    .tm-main-content section:nth-child(3),
    .tm-main-content section:nth-child(4),
    .tm-main-content section:nth-child(5),
    .tm-main-content section:nth-child(6) {
        box-shadow: 0 0 0 5px #c6c6c6;
    }
    .tm-banner {
        padding: 0;
        border: 30px solid #f5f5f5;
    }
    /* Task 5 */
    .tm-content-box {
        position: relative;
    }
    .tm-content-box:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 30px solid #87cefa;
        border-right: 200px solid transparent;
    }
    /* Task 6 */
    #tmCarousel .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }
    /* Task 7 */
    h2+p {
        font-style: italic;
    }
    /*task 8 */
    .tm-section-description {
        text-indent: 30px;
    }
    .tm-content-box.flex-2-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /* Task 9 */
    .heading h2 {
        color: #76d1df;
        text-align: center;
    }
    .heading a {
        color: black;
    }
    .heading a:visited {
        text-decoration: underline;
    }
    .heading a:hover {
        color: #76d1df;
        text-decoration: double underline;
    }
    .heading .text:after {
        content: "New";
        color: red;
        vertical-align: super;
        font-size: 10px;
        display: inline-block;
    }
    /* Task 10 */
    .blocks li:nth-child(2n) {
        background-color: #F5F5F5;
    }
    .box p:first-letter {
        color: black;
    }
    .box.box-work {
        padding: 10px;
    }
    /* Task 11 */
    button[type="submit"] {
        color: #76d1df;
        background-color: white;
        border: 1px solid #9fd8fb;
        border-radius: 0;
        float: right;
    }
    .submit-btn:hover {
        color: white;
        background-color: #9fd8fb;
        border: 1px solid;
    }
    .mandatory-field:after {
        content: "*";
        color: red;
    }
    /*task 12 */
    nav a:hover {
        background-color: #f5f5f5;
    }
}