.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1, h3 {
	margin-bottom: 4px;
	margin-top: 3px;
}
.main-img {
	width: 410px;
	height :250px;
}
p {
	font-size: 17px;
	margin-top: 0px;
	text-align: center;
}
